body {
    margin: 0;
    background: linear-gradient(0deg, rgb(0, 0, 0), rgb(66, 6, 6));
    display: flex;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    height: 100vh;
    width: 100vw;
    justify-content: center;
  }
  
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
    color: white;
  }
  button:hover {
    border-color: #646cff;
  }
  button:focus,
  button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
  
  ul {
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    margin: 8px 0;
    border: 1px solid black;
    gap: 1px;
    background-color: black;
    border-radius: 8px;
    overflow: auto;
  }
  
  li {
    background-color: white;
    padding: 8px;
  }
  
  li:hover {
    background: #dadbf9;
  }

  header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .links {
    font-weight: 800;
    text-decoration: none;
    color: white;
    margin: 10px;
  }

  .links:hover {
    color: rgb(114, 110, 110)
  }
  
  img {
    filter: brightness(0.8)
  }

  #signIn {
    color: white
  }

  #signIn:hover {
    color: rgb(65, 61, 61)
  }

  #imgDiv {
    border: #1a1a1a;
  }

  .mainLink {
    color: white;
    text-decoration: none;
    font-weight: 800;
    margin: 10px;
    font-size: 25px;
  }

  .mainLink:hover {
    color: rgb(114, 110, 110)
  }